@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme static {
  --color-background: var(--color-slate-50);
  --color-surface: var(--color-white);
  --color-surface-secondary: var(--color-slate-100);
  --color-foreground: var(--color-slate-900);
  --color-muted-foreground: var(--color-slate-600);
  --color-primary: var(--color-emerald-900);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-mauve-700);
  --color-secondary-foreground: var(--color-white);
  --color-border: var(--color-slate-200);
  --color-input: var(--color-slate-200);
  --color-ring: var(--color-emerald-500);
  --color-muted: var(--color-slate-100);
  --color-highlight: var(--color-emerald-500);
  --color-content: var(--color-slate-900);
}

@variant dark {
  --color-background: var(--color-slate-900);
  --color-surface: var(--color-slate-800);
  --color-surface-secondary: var(--color-slate-700);
  --color-foreground: var(--color-slate-50);
  --color-muted-foreground: var(--color-slate-400);
  --color-primary: var(--color-emerald-50);
  --color-primary-foreground: var(--color-slate-900);
  --color-secondary: var(--color-mauve-300);
  --color-secondary-foreground: var(--color-slate-900);
  --color-border: var(--color-slate-700);
  --color-input: var(--color-slate-700);
  --color-ring: var(--color-emerald-400);
  --color-muted: var(--color-slate-700);
  --color-highlight: var(--color-emerald-400);
  --color-content: var(--color-slate-100);
}
